$primaryText: #AD7047;



body {
    background: #f5f5ff;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    height: 100%;
}

  

         /* NAVIGACIA */
/*********************************/

.fixed-top {
    position: fixed;
    display: flex;
    background:#fa92cf3f;
    z-index: 1030;
    height: 7.4vh;
    width: 100%;
    
}  

  
 .Logo  {
     display: flex;
     justify-content: center;
     
     
     

     img {
       width: 230px;
       height: 110px;


       
   }
 }

 #nav {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;

     nav {
       display: flex;
       width: 30%;
       
       padding-left: 2em;
       
     }

     li {
         display: inline;
         padding-right: 4em;
         
         
   
     }

     a {
         list-style: none;
         font-size: 1rem;
         text-decoration: none;
         color: #fafafa;
     }

     button {
         border: none;
         background: #8c3c1ca4;
         height: 4vh;
         width: 6vw;
         border-radius: 5px;
         transition: 0.65s ease-in-out;
         
     }

     button:hover {
         box-shadow: 0 10px 18px 0 #8c3c1c8e, 0 4px 14px 0 #8c3c1c85;
         background: #6e311e;
     }

     a:hover {
       color: #ffdbe5;
     }
 }

 .navone {
     justify-content: flex-end;
     padding-left: 3em;
 }
 .navtwo {
     justify-content: flex-start;
 }

 span {
   background: #6e311e !important;
   
 }
 #fp-nav {
     opacity: 0 !important;
 }
 

@media screen and (max-width: 1200px) {
    
     .nav-links {
         display: none;
     }

     span {
      background: #6e311e !important;
      
     }
     #fp-nav {
      opacity: 1 !important;
     }

     .logo {
         position: relative;
         width: 100%;
     height: 110px;
     }
     nav {
         width: 100%;
     }
    }

   

               /*SECTION 1*/
     /*********************************/

     .container-S1{
         display: flex;
         justify-content: center;
         text-align: center;
         width: 100%;
         height: 67vh;
         margin: auto;
     }

     .foto-S1 {
        
        padding-left: 5em;
        
        
        img {
            border-radius: 7px;
            border:#ad70477c solid 3px;
        }
       
     }
     
     .text-S1 {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

        h3 {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 5rem;
            color: #6e311e;
            text-shadow:#fb67cc65 2px 2.5px ;
        }
     }
 
     .downArrow{
        bottom: 45%;
        left: 50%;

        img {
            color: #6e311e;
        }
    }
    .bounce {
        -moz-animation: bounce 3s infinite;
        -webkit-animation: bounce 3s infinite;
        animation: bounce 3s infinite;
    }
    @-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }

    @media screen and (max-width:1105px) {
        .foto-S1 {
            padding-right: 2.5em;
            padding-top: 4em;
            img {
               width: 350px;
               height: 250px;
            }
            
        }
        .text-S1  {
            padding-left: 2.5rem;
            h3 {font-size: 2.5rem !important;}
            
        }
    }

    @media screen and (max-width: 865px) {
        .container-S1 {
            flex-direction: column;
        }
        .foto-S1 {
            padding-right: 2.5em;
            padding-bottom: 8em !important;
            z-index: 1;
            img {
               width: 350px;
               height: 250px;
            }
            
        }
        .text-S1  {
            padding-left: 2.5rem;
             padding-top: 10rem;
             z-index: 2;
            h3 {font-size: 2rem !important;}
            
        }
    }

    @media screen and (max-width: 550px) {
        .foto-S1 {
            margin-right: 14em;
            padding-bottom: 10em !important;
            z-index: 1;
            img {
               width: 220px;
               height: 200px;
            }
            
        }
        .text-S1  {
            padding-right: 7em;
             padding-top: 10rem;
             z-index: 2;
            h3 {font-size: 1.5rem !important;}
            
        }
    }


      /* SECTION 2 */ 
/**************************/  

.container-S2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.foto-S2 {
    width: 50%;
    padding-top: 3em;

    img {
        width: 400px;
        height: 500px;
        border-radius: 7px;
        border:#ad70477c solid 3px;
        
    }
}

.text-S2 {
    width: 50%;
    padding-right: 3em;


    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
            font-size: 3rem;
            color: #6e311e;
            text-shadow:#fb67cc65 2px 2px ;
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1258px) {
    .foto-S2 {
        padding-top: 4em;
    }
}

@media screen and (max-width: 1182px) {
    .foto-S2 {
        padding-top: 6em;
    }
}

@media screen and (max-width: 1090px) {
    .container-S2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .foto-S2 {
        display: none;
        img {
            width: 400px;
        height: 100px;
        } 
    }

    .text-S2 {
        padding-left: 3em;
        h3 {
        font-size: 1.8rem;
        }
        p{
        font-size: 0.8rem;  
        }
    }
}

 

       /* SECTION 3 */
/******************************/


/* SLIDE 1 */
.container-slide1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide1 {
    width: 45%;
    padding-top: 5em;
}

.text-slide1 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .text-slide1,
    .text-slide2,
    .text-slide3,
    .text-slide4,
    .text-slide5,
    .text-slide6,
    .text-slide7,
    .text-slide8 {
        p {
            font-size: .7rem;
        }
        h3 {
            font-size: 1rem;
        }
    }

    .foto-slide1,.foto-slide2,.foto-slide3,.foto-slide4,
    .foto-slide5,.foto-slide6,.foto-slide7,.foto-slide8 {
        width: 30%;
    }
}



/* SLIDE 2 */

.section S3 {
    span {
        opacity: 1 !important;
    }
}
.container-slide2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide2 {
    width: 45%;
    padding-top: 5em;
}

.text-slide2 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

/* SLIDE 3 */

.container-slide3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide3 {
    width: 45%;
    padding-top: 5em;
}

.text-slide3 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}
/* SLIDE 4 */

.container-slide4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide4 {
    width: 45%;
    padding-top: 5em;
}

.text-slide4 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}
/* SLIDE 5 */

.container-slide5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide5 {
    width: 45%;
    padding-top: 5em;
}

.text-slide5 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}
/* SLIDE 6 */

.container-slide6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide6 {
    width: 45%;
    padding-top: 5em;
}

.text-slide6 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}
/* SLIDE 7 */

.container-slide7 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide7 {
    width: 45%;
    padding-top: 5em;
}

.text-slide7 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px ; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}
/* SLIDE 8 */

.container-slide8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 7px;
        border:#ad70477c solid 3px;
    }
}

.foto-slide8 {
    width: 45%;
    padding-top: 5em;
}

.text-slide8 {
    width: 50%;

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 3rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .foto-slide1,
    .foto-slide2,
    .foto-slide3,
    .foto-slide4,
    .foto-slide5,
    .foto-slide6,
    .foto-slide7,
    .foto-slide8 {
        img{
            width: 300px;
            height: 300px;
        }
    }
}

@media screen and (max-width: 850px) {
    .container-slide1,
    .container-slide2,
    .container-slide3,
    .container-slide4,
    .container-slide5,
    .container-slide6,
    .container-slide7,
    .container-slide8 {
        flex-direction: column;
    }
    .foto-slide1,
    .foto-slide2,
    .foto-slide3,
    .foto-slide4,
    .foto-slide5,
    .foto-slide6,
    .foto-slide7,
    .foto-slide8 {
        padding-top: 0;
        padding-left: 2em;
    }
}
@media screen and (max-width: 650px) {
    .foto-slide1,
    .foto-slide2,
    .foto-slide3,
    .foto-slide4,
    .foto-slide5,
    .foto-slide6,
    .foto-slide7,
    .foto-slide8 {
        padding-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .foto-slide1,
    .foto-slide2,
    .foto-slide3,
    .foto-slide4,
    .foto-slide5,
    .foto-slide6,
    .foto-slide7,
    .foto-slide8 {
        padding-right: 4em;
    }

    .text-slide1,
    .text-slide2,
    .text-slide3,
    .text-slide4,
    .text-slide5,
    .text-slide6,
    .text-slide7,
    .text-slide8 {
        width: 100%;
    }
}

          /* KONTAKT */
/********************************/

.container-kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 5rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px;  
    }

    h3 {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: #6e311e;
        text-shadow:#fb67cc65 2px 2px; 
    }

    p {
        text-align: center;
        font-family: 'Poppins', serif;
        font-weight: 200;
        color: #646464;
        font-size: 1.1rem;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
        color: #646464;
    }
}

.hodiny {
    p {
        text-align: right;
    }

    i {
        width: 20px;
        height: 20px;
        color: #6e311e;
        position: relative;
        top: 54px;
        right: 25px;
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:stretch;
    width: 100%;
}

.poloha {

    padding-right: 12em;

    i {
        width: 20px;
        height: 20px;
        color: #6e311e;
        position: relative;
        top: 53px;
        left: 30px;
    }
}

.social {
    letter-spacing: 4em;
    padding-top: 2em;

    i {
        width: 20px;
        height: 20px;
        color: #8c3c1ca4;
        transition: 0.75s ease-in-out;
    }
    i:hover {
        color: #8c3c1c;
    }
}

@media screen and (max-width: 840px) {
    .container-kontakt {
        h1{
            font-size: 2rem; 
        }

        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: .7rem;
        }
    }

    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .poloha {
        padding-right: 0;
    }

    .hodiny i {
        top: 45px;
    }
    .poloha i {
        top: 45px;
        left: 7px;
    }
}