body {
  background: #f5f5ff;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  height: 100%;
}

/* NAVIGACIA */
/*********************************/
.fixed-top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fa92cf3f;
  z-index: 1030;
  height: 7.4vh;
  width: 100%;
}

.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Logo img {
  width: 230px;
  height: 110px;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-left: 2em;
}

#nav li {
  display: inline;
  padding-right: 4em;
}

#nav a {
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  color: #fafafa;
}

#nav button {
  border: none;
  background: #8c3c1ca4;
  height: 4vh;
  width: 6vw;
  border-radius: 5px;
  -webkit-transition: 0.65s ease-in-out;
  transition: 0.65s ease-in-out;
}

#nav button:hover {
  -webkit-box-shadow: 0 10px 18px 0 #8c3c1c8e, 0 4px 14px 0 #8c3c1c85;
          box-shadow: 0 10px 18px 0 #8c3c1c8e, 0 4px 14px 0 #8c3c1c85;
  background: #6e311e;
}

#nav a:hover {
  color: #ffdbe5;
}

.navone {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 3em;
}

.navtwo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

span {
  background: #6e311e !important;
}

#fp-nav {
  opacity: 0 !important;
}

@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
  }
  span {
    background: #6e311e !important;
  }
  #fp-nav {
    opacity: 1 !important;
  }
  .logo {
    position: relative;
    width: 100%;
    height: 110px;
  }
  nav {
    width: 100%;
  }
}

/*SECTION 1*/
/*********************************/
.container-S1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 67vh;
  margin: auto;
}

.foto-S1 {
  padding-left: 5em;
}

.foto-S1 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.text-S1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-S1 h3 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 5rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2.5px;
}

.downArrow {
  bottom: 45%;
  left: 50%;
}

.downArrow img {
  color: #6e311e;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 1105px) {
  .foto-S1 {
    padding-right: 2.5em;
    padding-top: 4em;
  }
  .foto-S1 img {
    width: 350px;
    height: 250px;
  }
  .text-S1 {
    padding-left: 2.5rem;
  }
  .text-S1 h3 {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 865px) {
  .container-S1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto-S1 {
    padding-right: 2.5em;
    padding-bottom: 8em !important;
    z-index: 1;
  }
  .foto-S1 img {
    width: 350px;
    height: 250px;
  }
  .text-S1 {
    padding-left: 2.5rem;
    padding-top: 10rem;
    z-index: 2;
  }
  .text-S1 h3 {
    font-size: 2rem !important;
  }
}

/* SECTION 2 */
/**************************/
.container-S2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: auto;
}

.foto-S2 {
  width: 50%;
  padding-top: 3em;
}

.foto-S2 img {
  width: 400px;
  height: 500px;
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.text-S2 {
  width: 50%;
  padding-right: 3em;
}

.text-S2 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-S2 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

@media screen and (max-width: 1258px) {
  .foto-S2 {
    padding-top: 4em;
  }
}

@media screen and (max-width: 1182px) {
  .foto-S2 {
    padding-top: 6em;
  }
}

@media screen and (max-width: 1090px) {
  .container-S2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foto-S2 {
    display: none;
  }
  .foto-S2 img {
    width: 400px;
    height: 100px;
  }
  .text-S2 {
    padding-left: 3em;
  }
  .text-S2 h3 {
    font-size: 1.8rem;
  }
  .text-S2 p {
    font-size: 0.8rem;
  }
}

/* SECTION 3 */
/******************************/
/* SLIDE 1 */
.container-slide1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide1 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide1 {
  width: 45%;
  padding-top: 5em;
}

.text-slide1 {
  width: 50%;
}

.text-slide1 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide1 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 2 */
.section S3 span {
  opacity: 1 !important;
}

.container-slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide2 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide2 {
  width: 45%;
  padding-top: 5em;
}

.text-slide2 {
  width: 50%;
}

.text-slide2 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide2 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 3 */
.container-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide3 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide3 {
  width: 45%;
  padding-top: 5em;
}

.text-slide3 {
  width: 50%;
}

.text-slide3 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide3 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 4 */
.container-slide4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide4 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide4 {
  width: 45%;
  padding-top: 5em;
}

.text-slide4 {
  width: 50%;
}

.text-slide4 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide4 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 5 */
.container-slide5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide5 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide5 {
  width: 45%;
  padding-top: 5em;
}

.text-slide5 {
  width: 50%;
}

.text-slide5 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide5 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 6 */
.container-slide6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide6 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide6 {
  width: 45%;
  padding-top: 5em;
}

.text-slide6 {
  width: 50%;
}

.text-slide6 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide6 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 7 */
.container-slide7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide7 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide7 {
  width: 45%;
  padding-top: 5em;
}

.text-slide7 {
  width: 50%;
}

.text-slide7 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide7 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* SLIDE 8 */
.container-slide8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slide8 img {
  border-radius: 7px;
  border: #ad70477c solid 3px;
}

.foto-slide8 {
  width: 45%;
  padding-top: 5em;
}

.text-slide8 {
  width: 50%;
}

.text-slide8 h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 3rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.text-slide8 p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}

@media screen and (max-width: 1100px) {
  .foto-slide1 img,
  .foto-slide2 img,
  .foto-slide3 img,
  .foto-slide4 img,
  .foto-slide5 img,
  .foto-slide6 img,
  .foto-slide7 img,
  .foto-slide8 img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 850px) {
  .container-slide1,
  .container-slide2,
  .container-slide3,
  .container-slide4,
  .container-slide5,
  .container-slide6,
  .container-slide7,
  .container-slide8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto-slide1,
  .foto-slide2,
  .foto-slide3,
  .foto-slide4,
  .foto-slide5,
  .foto-slide6,
  .foto-slide7,
  .foto-slide8 {
    padding-top: 0;
    padding-left: 2em;
  }
}

@media screen and (max-width: 650px) {
  .foto-slide1,
  .foto-slide2,
  .foto-slide3,
  .foto-slide4,
  .foto-slide5,
  .foto-slide6,
  .foto-slide7,
  .foto-slide8 {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .foto-slide1,
  .foto-slide2,
  .foto-slide3,
  .foto-slide4,
  .foto-slide5,
  .foto-slide6,
  .foto-slide7,
  .foto-slide8 {
    padding-right: 4em;
  }
  .text-slide1,
  .text-slide2,
  .text-slide3,
  .text-slide4,
  .text-slide5,
  .text-slide6,
  .text-slide7,
  .text-slide8 {
    width: 100%;
  }
}

/* KONTAKT */
/********************************/
.container-kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-kontakt h1 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 5rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.container-kontakt h3 {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #6e311e;
  text-shadow: #fb67cc65 2px 2px;
}

.container-kontakt p {
  text-align: center;
  font-family: 'Poppins', serif;
  font-weight: 200;
  color: #646464;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.container-kontakt a {
  text-decoration: none;
  color: #646464;
}

.hodiny p {
  text-align: right;
}

.hodiny i {
  width: 20px;
  height: 20px;
  color: #6e311e;
  position: relative;
  top: 54px;
  right: 25px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.poloha {
  padding-right: 12em;
}

.poloha i {
  width: 20px;
  height: 20px;
  color: #6e311e;
  position: relative;
  top: 53px;
  left: 30px;
}

.social {
  letter-spacing: 4em;
  padding-top: 2em;
}

.social i {
  width: 20px;
  height: 20px;
  color: #8c3c1ca4;
  -webkit-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
}

.social i:hover {
  color: #8c3c1c;
}

@media screen and (max-width: 840px) {
  .container-kontakt h1 {
    font-size: 2rem;
  }
  .container-kontakt h3 {
    font-size: 1.2rem;
  }
  .container-kontakt p {
    font-size: .7rem;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .poloha {
    padding-right: 0;
  }
  .hodiny i {
    top: 45px;
  }
  .poloha i {
    top: 45px;
    left: 7px;
  }
}
/*# sourceMappingURL=style.css.map */