.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  color: #504f4f;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
  margin: auto;
  overflow-x: hidden !important;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
  content: " ";
  display: table;
}

.container:after,
.group:after,
.menu:after {
  clear: both;
}

a {
  text-decoration: none;
}

/*.container {
	max-width: 1350px;
	padding: 0 1.25em; 
	margin: 0 auto;
    padding-top: 79px;
}*/
/* NAVIGACIA */
/****************************/
.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mini-logo {
  margin-left: 6em;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  z-index: 2;
}

@media all and (max-width: 682px) {
  .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  max-width: 100%;
  font-family: 'Montserrat' , sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
}

.nav-links li {
  padding-right: 2.6rem;
  list-style: none;
  text-transform: uppercase;
}

.nav-links a {
  color: #504f4f;
  letter-spacing: 3px;
  font-style: italic;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}

.a a::after, .b a::after, .c a::after, .d a::after, .e a::after, .f a::after, .g a::after, .h a::after {
  position: absolute;
  content: "";
  height: .1em;
  top: 100%;
  background: #debd6c;
  z-index: -1;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: -webkit-transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035), -webkit-transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.a a:hover::after, .b a:hover::after, .c a:hover::after, .d a:hover::after, .e a:hover::after, .f a:hover::after, .g a:hover::after, .h a:hover::after {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.line1,
.line2 {
  margin-bottom: 2px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #504f4f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  right: 2em;
}

@media screen and (max-width: 1355px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    position: relative;
    z-index: -546;
    opacity: 0;
  }
  .mini-logo {
    opacity: 1;
    height: 200px;
    width: 250px;
    margin-left: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 3;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background-color: #504f4fd5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 2;
    margin-top: 3.2em;
  }
  .nav-links li {
    margin: 16px;
    text-transform: uppercase;
  }
  .nav-links a {
    color: #fafafa;
  }
  .burger {
    display: block;
    cursor: pointer;
    padding-top: 8rem;
    z-index: 4;
    padding-right: 2em;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 6px);
          transform: rotate(-45deg) translate(-2px, 6px);
  background-color: #fafafa;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-2px, -6px);
          transform: rotate(45deg) translate(-2px, -6px);
  background-color: #fafafa;
}

.logo {
  margin-top: 0.15em;
}

/* FILTER SIDEBAR *\
 /********************************************************/
.container-filter {
  padding-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0.9em;
}

.filter {
  color: #504f4f;
  text-align: center;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 500px;
  top: 0;
  left: 0;
  background-color: #d4d4cda9;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 15px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 14px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(146, 145, 145, 0.507)), to(#fafafa));
  background-image: linear-gradient(to left, rgba(146, 145, 145, 0.507), #fafafa);
  color: #2e2e2e;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  -webkit-animation: pulse-animation 2.5s infinite;
          animation: pulse-animation 2.5s infinite;
}

@-webkit-keyframes pulse-animation {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #debe6cc7;
            box-shadow: 0 0 0 0 #debe6cc7;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

@keyframes pulse-animation {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #debe6cc7;
            box-shadow: 0 0 0 0 #debe6cc7;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
            box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

.openbtn img {
  text-align: center;
  padding-top: 0.05em;
  position: relative;
  color: #504f4f;
  top: 2px;
  opacity: 0.5;
}

.openbtn:Hover {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(146, 145, 145, 0.507)), to(#fafafa));
  background-image: linear-gradient(to left, rgba(146, 145, 145, 0.507), #fafafa);
  border-radius: 50%;
}

.openbtn:Hover img {
  opacity: 1;
}

/* FILTER ROLLOUT */
/********************************************************/
.checkbox-dropdown {
  width: 212px;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  font-style: #fafafa;
  background-image: -webkit-gradient(linear, right top, left top, from(#fafafa56), color-stop(rgba(146, 145, 145, 0.507)), to(#fafafa54));
  background-image: linear-gradient(to left, #fafafa56, rgba(146, 145, 145, 0.507), #fafafa54);
  margin-left: 20px;
  margin-bottom: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: rgba(0, 0, 0, 0.01);
  margin-top: -9px;
}

.checkbox-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  /* align the dropdown right below the dropdown text */
  /*border: inherit;*/
  border-top: none;
  left: -1px;
  /* align the dropdown to the left */
  right: -1px;
  /* align the dropdown to the right */
  opacity: 0;
  /* hide the dropdown */
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none;
  /* avoid mouse click events inside the dropdown */
}

.is-active .checkbox-dropdown-list {
  opacity: 1;
  /* display the dropdown */
  pointer-events: auto;
  /* make sure that the user still can select checkboxes */
  background: #fafafa;
  color: #504f4f;
  z-index: 1;
}

.checkbox-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;
  font-size: small;
  background: #fafafa;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
  background-color: #555;
  color: white;
}

/****MAIN****/
/*********************************************************/
/*********************************************************/
/*MAKLER*/
/***************/
.container-makler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-height: auto;
  padding-left: 2em;
  padding-top: 8em;
  margin: auto;
}

@media screen and (max-width: 903px) {
  .container-makler {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.osoba-motto {
  display: block;
  position: relative;
  width: 30%;
  text-align: left;
  padding-left: 2em;
}

.osoba-motto img {
  border-radius: 50%;
}

.osoba-motto i {
  font-size: 95%;
}

.osoba-motto h1 {
  font-size: 1.4rem;
}

@media screen and (max-width: 903px) {
  .osoba-motto {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-right: 1em;
  }
}

/*SLIDESHOW*/
/***************/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 0.3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 900px) {
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.makler-ponuka {
  font-size: 90%;
  font-style: italic;
  letter-spacing: 0.5em;
  color: #504f4f;
  text-align: right;
}

.makler-ponuka a {
  text-decoration: none;
  color: #504f4f;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .makler-ponuka {
    text-align: left;
    padding-bottom: 1.5em;
    margin-left: 5rem;
  }
}

.portfolio__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  min-height: 350px;
  height: 45vh;
  max-height: 600px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1000px) {
  .portfolio__views {
    width: 60%;
  }
}

@media all and (max-width: 900px) {
  .portfolio__views {
    width: 60%;
    margin-left: 7em;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 800px) {
  .portfolio__views {
    min-width: 0;
    margin-left: 5em;
  }
  .portfolio__views .btn--view {
    margin-top: 25px;
  }
}

.portfolio__view {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 55%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

@media all and (max-width: 1100px) {
  .portfolio__view {
    width: 100%;
  }
}

.portfolio__view img {
  position: relative;
  opacity: 1;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__preview {
  width: 25%;
  height: 75%;
  margin-left: 5%;
  opacity: .3;
}

@media all and (max-width: 1100px) {
  .portfolio__preview {
    display: none;
  }
}

.portfolio__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  cursor: pointer;
}

.portfolio .active {
  -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

.s--about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15%;
}

@media all and (max-width: 800px) {
  .s--about_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25%;
  }
}

.s--about_us .holder--text {
  width: 50%;
}

@media all and (max-width: 800px) {
  .s--about_us .holder--text {
    width: 100%;
  }
}

.s--about_us .text, .s--about_us .text--medium, .s--about_us .text--small {
  width: 50%;
}

@media all and (max-width: 800px) {
  .s--about_us .text, .s--about_us .text--medium, .s--about_us .text--small {
    width: 100%;
  }
}

/**TOP PONUKA**/
/*********************************/
.top-ponuka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

@media all and (max-width: 510px) {
  .top-ponuka {
    margin-left: 0.60em;
  }
}

.inzerat1,
.inzerat2,
.inzerat3,
.inzerat4,
.inzerat5,
.inzerat6,
.inzerat7,
.inzerat8 {
  display: block;
  padding-bottom: 3em;
  padding-right: 2em;
  position: relative;
}

.inzerat1 img,
.inzerat2 img,
.inzerat3 img,
.inzerat4 img,
.inzerat5 img,
.inzerat6 img,
.inzerat7 img,
.inzerat8 img {
  max-width: 301px;
  max-height: 225px;
  border-radius: 4%;
  min-height: 225px;
}

.inzerat1 li,
.inzerat2 li,
.inzerat3 li,
.inzerat4 li,
.inzerat5 li,
.inzerat6 li,
.inzerat7 li,
.inzerat8 li {
  list-style: none;
}

.inzerat1 h1, .inzerat1 p,
.inzerat2 h1,
.inzerat2 p,
.inzerat3 h1,
.inzerat3 p,
.inzerat4 h1,
.inzerat4 p,
.inzerat5 h1,
.inzerat5 p,
.inzerat6 h1,
.inzerat6 p,
.inzerat7 h1,
.inzerat7 p,
.inzerat8 h1,
.inzerat8 p {
  color: #504f4f;
  text-align: center;
}

.inzerat1 h1,
.inzerat2 h1,
.inzerat3 h1,
.inzerat4 h1,
.inzerat5 h1,
.inzerat6 h1,
.inzerat7 h1,
.inzerat8 h1 {
  font-size: 1.5rem;
}

.inzerat1 h2,
.inzerat2 h2,
.inzerat3 h2,
.inzerat4 h2,
.inzerat5 h2,
.inzerat6 h2,
.inzerat7 h2,
.inzerat8 h2 {
  color: #debd6c;
  text-align: center;
}

.foto {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /* Animation */
}

.foto:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media all and (max-width: 680px) {
  .inzerat1,
  .inzerat2,
  .inzerat3,
  .inzerat4,
  .inzerat5,
  .inzerat6,
  .inzerat7 {
    padding-bottom: 3em;
  }
}

.top-text {
  font-style: italic;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  padding-top: 6em;
  margin-left: 5.5em;
}

@media all and (max-width: 510px) {
  .top-text {
    padding-top: 10em;
  }
}

.nove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

@media all and (max-width: 510px) {
  .nove {
    margin-left: 0.60em;
  }
}

.down-text {
  font-style: italic;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  padding-top: 9em;
  margin-left: 5.5em;
}

@media all and (max-width: 510px) {
  .down-text {
    padding-top: 10em;
    margin-right: 5rem;
  }
}

/* FOOTER */
/********************************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #504f4f;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 4em;
}

.social a {
  color: #debd6c;
}

.social li {
  list-style: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu i {
  padding-left: 1em;
}

.text {
  width: 50%;
  font-size: 0.8rem;
  color: #fafafa;
  padding-top: 2em;
}

.text a {
  text-decoration: none;
  color: #fafafa;
}

.text a:hover {
  color: #debd6c;
}

.text i {
  margin-left: 2em;
  text-align: center;
}

@media all and (max-width: 780px) {
  .text {
    font-size: 0.6rem;
    padding-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */